:root {
    --font: 'Courier New', Courier, monospace;
    --color-bg: #000b14;
    --color-theme: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: var(--color-bg);
    color: var(--color-theme);
    font-family: var(--font);
    overflow: hidden;
}

.wrapper {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wheel-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-55deg);
    margin: 9px 5px 5px;
    position: absolute;
    top: calc(100vh - 51vw);
    max-width: 1400px;
}

@media screen and (min-width :1400px) {
    .wheel-area {
        top: calc(100vh - 710px)
    }
}

h1 {
    text-align: center;
    margin: 1rem 0 0;
    font-size: 3rem;
    transition: all 0.25s ease-in-out;
    position: absolute;
    top: 0;
    right: 30px;
}

h1.isHidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem) scale(0);
}

svg#wheel {
    width: 100%;
    height: auto;
}

.spin__button {
    display: flex;
    width: calc(50% / 7);
    flex-flow: row-reverse;
    cursor: pointer;
}

.spin__button span {
    transform: rotate(90deg);
    font-size: 20px;
    padding: 28px 0 0 6px;
    animation: spinText 1s infinite;
}

.spin__button.isSpinning span {
    animation: none;
}

svg#pin {
    fill: var(--color-theme);
}

.instructions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.instructions button {
    margin-top: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 1.55rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 2px currentColor;
    background: var(--color-bg);
    transition: all 0.5s ease-out;
    color: var(--color-theme);
}

.instructions button:hover {
    box-shadow: 0 0 0 1px var(--color-bg), 0 0 0 3px currentColor,
        0 0 0 5px var(--color-bg), 0 0 0 7px currentColor;
}

.instructions button:active {
    box-shadow: 0 0 0 2px currentColor, 0 0 0 4px var(--color-bg),
        0 0 0 6px currentColor;
    transform: scale(0.95) translateY(0.1rem);
}

.instructions button,
svg#pin {
    cursor: grab;
}

.instructions button.isSpinning,
svg#pin.isSpinning {
    cursor: not-allowed;
}


.instructions .gift-value {
    margin-top: 1rem;
    padding: 0.25rem 0.75rem;
    font-family: inherit;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px currentColor;
    background: var(--color-bg);
    transition: all 0.5s ease-out;
    font-weight: 600;
}

audio {
    visibility: hidden;
    width: 0;
    height: 0;
}

@keyframes spinText {
    0% {
        transform: rotate(90deg) scale(0.8);
    }

    50% {
        transform: rotate(90deg) scale(1.2);
    }

    100% {
        transform: rotate(90deg) scale(0.8);
    }
}

@keyframes pinWheel {
    33% {
        transform: translateY(-50%) rotate(-10deg);
    }

    67% {
        transform: translateY(-50%) rotate(10deg);
    }
}

@media (max-width: 600px) {
    .instructions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        transition: transform 0.5s ease-out;
        text-align: center;
    }
}